*.esm.json
*.tar
*.tgz
*.gz
*.zip
*.js
!src/scripts/*.js
*.js.map
*.log
*.d.ts
!seed-tests/*.js
seed-tests/seed-copy
seed-tests/seed-copy-new-git-repo/**/*.*
!videoplayer.d.ts
!video-source.d.ts
demo/lib
demo/app/**/*.js
demo/app/app.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/platforms
demo/node_modules
demo/hooks/
demo/.vscode/
node_modules
.idea/
.vscode/
.tscache/
.vscode/
.settings/
*.DS_Store
publish/src
publish/package
demo/report/report.html
demo/report/stats.json
platforms/android/*.aar
