*.map
*.png
*.log
*.yml
*.ts
.vscode/
!*.d.ts
tsconfig.json
scripts/*
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar
demo/
screens/
app/
README.md
scripts/
typings/
node_modules/
.DS_Store
